# IDEs
.idea/

# python
*.pyc
__pychache__/
*.egg-info/
.eggs/

# Django
migrations/
db.sqlite3

# virtualenv
venv/

# sphinx
docs/build/html/
docs/build/doctrees/
_build/
_static/
_templates/

# codecov
.coverage

# pytest
.pytest_cache/

# vim swp
*.swp

# build
build/
dist/

# keytab, crt, pem files
*.keytab
*.pem
*.crt
ssl/
keytabs/

# secret data
# all files besides README.md in secret
secret/*
!secret/README.md
